---
layout: default
title : Publications by Category
navbar_title: Publications
body_attr: >-
  data-spy="scroll" data-target="#navbar-category" data-offset="100"
---

{% assign pubs_by_category = site.publications | sort: "date" | reverse | group_by: "category" %}

<div class="row">
    <div class="col-12 col-lg-10">
        {% for category in pubs_by_category %}
        {% assign num_papers = category.items | size %}
        {% assign category_name = category.name | default: "Uncategorized" %}
        <h2 class="pt-4" id="category-{{ category_name | slugify }}">{{ category_name }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in category.items %}
                {% if item.status != 'in-review' %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last show_abstract=true show_cover=true %}
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-category" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for category in pubs_by_category %}
            {% assign category_name = category.name | default: "Uncategorized" %}
            <a class="nav-link d-block" href="#category-{{ category_name | slugify }}">{{ category_name }}</a>
            {% endfor %}
        </div>
    </div>
</div>
