<div class="my-3 bg-white shadow-sm rounded-xl">
    {% if site.data.profile.education %}
    <h5 class="p-3 mb-0 border-bottom border-gray"><i class="fa-solid fa-graduation-cap mr-2"></i>Education & Experiences</h5>
    <div class="py-2 px-3">
        <ul class="list-unstyled mb-1">
            {% for item in site.data.profile.education %}
            <li class="media mb-1 d-flex align-items-center">
                <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 36px;" class="mr-3">
                <div class="media-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">{{ item.name }}</div>
                        <div class="no-break small"><em>{{ item.date }}</em></div>
                    </div>
                    <div class="small">{{ item.position }}</div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>