{% assign news = site.news | sort: "date" | reverse | slice: 0, include.limit %}

<div class="my-3 bg-white shadow-sm rounded-xl">
    <h5 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-rss"></i> News</h5>
    <div class="px-3 pb-1" style="font-size: 90%;">
        {% for item in news %}
        <div class="media py-1 {% unless forloop.first %}border-top border-gray{% endunless %}">
            <div class="media-body">
                <div class="my-1 d-flex">
                    <div class="mr-3 text-muted no-break">{{ item.date | date: "%m.%Y" }}</div>
                    <div>{{ item.title }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
