{% assign publications = include.publications %}
{% assign inreview = include.inreview %}
<div class="my-3 p-0 bg-white shadow-sm rounded-xl">
    <div class="p-3 border-bottom">
        <h5 class="mb-0">
            {% if include.title %}{{ include.title }}{% else %}<i class="fas fa-star"></i> Selected Publications{% endif %}
            <a href="{{ 'publications' | relative_url }}">(see details)</a>
        </h5>
    </div>

    <div class="py-1 px-3">
    {% if inreview and inreview != empty %}
    <p class="mt-1 mb-1"><strong>In review</strong></p>
    {% for item in inreview limit:include.limit %}
    {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=false last=false show_abstract=false %}
    {% endfor %}
    {% endif %}

    {% if publications and publications != empty %}
    <p class="mt-1 mb-1"><strong>Published</strong></p>
    {%- comment -%} Split publications into first-author and non-first-author, then concatenate so first-author items appear first {%- endcomment -%}
    {% assign first_authors = publications | where: "first_author", true %}
    {% assign non_first = publications | where_exp: "p", "p.first_author != true" %}
    {% assign ordered_pubs = first_authors | concat: non_first %}
    {% assign total = ordered_pubs | size %}
    {% for item in ordered_pubs limit:include.limit %}
    {% assign reverse_index = total | minus: forloop.index0 %}
    {% include widgets/publication_item.html item=item hide_bottom_border=true first=false last=false show_abstract=false reverse_index=reverse_index %}
    {% endfor %}
    {% endif %}
    </div>
</div>